@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  font-family: "Space Mono", monospace;
}

.active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.tip:hover {
  background-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}

.error {
  border: 2px solid rgb(248 113 113) !important;
}

.error-text {
  display: block;
}
